@{
    ViewBag.Title = "Contact";<br />
}
<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4><br />

<div class="row">
    <div class="col-md-7">
        <address>
            313 N Plankington Ave #209<br />
            Milwaukee, WI 53203<br />
            
        </address>
    </div>
    <div class="col-md-5">
        <address>
            <strong>Phone:</strong> (414) 533-0639 </br>
            <strong>Email:</strong>   <a class="user-agent-links" href="mailto:hello@devcodecamp.com">hello@devcodecamp.com</a><br />
        </address>
    </div>
</div>

        

        
